{% extends '_layouts/detail.njk' %}



{% block story %}
  <h2>Call me Ishmael</h2>
  <p>I ran out of pirate stories, so here we are.</p>

  <p>Piracy is an act of robbery or criminal violence by ship or boat-borne attackers upon another ship or a coastal area, typically with the goal of stealing cargo and other valuable items or properties. Those who engage in acts of piracy are called pirates.</p>

  <p>The earliest documented instances of piracy were in the 14th century BC, when the Sea Peoples, a group of ocean raiders, attacked the ships of the Aegean and Mediterranean civilizations. Narrow channels which funnel shipping into predictable routes have long created opportunities for piracy, as well as for privateering and commerce raiding.</p>

  <p>Historic examples include the waters of Gibraltar, the Strait of Malacca, Madagascar, the Gulf of Aden, and the English Channel, whose geographic structures facilitated pirate attacks. A land-based parallel is the ambushing of travelers by bandits and brigands in highways and mountain passes.</p>

  <p>Privateering uses similar methods to piracy, but the captain acts under orders of the state authorizing the capture of merchant ships belonging to an enemy nation, making it a legitimate form of war-like activity by non-state actors.</p>

   <img src="img/kraken03.jpg" alt="Kraken" class="img-fluid">

{% endblock %}

{% block page_title %}Oct. 20, 2018{% endblock %}