{% extends '_layouts/detail.njk' %}



{% block story %}
  <h2>Fear the Kraken</h2>
  <p>The pirate woke to the sound of his bird cawing in his ear. “Get up pirate!” it yelled.

Did the pirate throw his sleeping boot at the parrot?

No. “Argh. Good morning parrot,” he said smiling. “Thank you for waking me. Did I sleep in again?”

“You did. You did,” the parrot answered. And then the pirate got dressed to head to the deck to check on his men and eat his breakfast.

When he arrived, he found his eggs overcooked and his orange juice pulpy.

Did he order his cook to walk the plank?

No. “Argh. Would you like the orange juice, cook?” he asked. “Pulp gives me indigestion and I have so much to do today. You so rarely get to drink juice I’d be honored to share mine.”

“Thank you captain,” the pirate cook said, taking the drink. “My insides have felt a little off lately and the vitamin C would do me well.”

The captain pirate, as he had stated, had plenty to do that day. Like the rest of his shipmates, he had to scrub floors, clean cannons and shine silver cutlasses. By mid-afternoon, he was getting tired. And that’s when another pirate ship pulled in beside his.

Did the pirate send his men to their cannons, guns and newly shined silver cutlasses?

No. “Argh. Come aboard pirates!” He yelled. ” We can share some pulpy orange juice and eat some baked potatoes! You must be tired from all that sea faring!”

“We are indeed pirate captain. We have found so many jewels that we’ve had no time to eat or drink. We would be happy to come aboard.”

And the pirates spent a lengthy lunch hour telling stories about buried treasure they had uncovered and the opulent lives they were sure to live when they reached land.

Did the pirate tell his men to rob the other pirates of all the money they had stored in their pirate ship just feet away?

No. “Argh men,” he said to his gathered group. “Why don’t you fetch these pirates some baggies so that they might more easily divide their treasure among themselves. We’d hate to have any bills ruined by water.”

“Thank you pirate captain,” said the pirate captain of the other ship. “We have, to be sure, lost much treasure to the waters over the years of pirating. May the next boat you come upon be as helpful to you as you’ve been to us.”

And the pirates brought out waterproof baggies for their pirate friends to pack their gold and money in and waved goodbye as the sun got ready to set.

<p>Did the pirate captain then turn to his men and hand out bottles of rum, kicking off a gun shooting, cutlass swinging party?</p>

<p>No. “Argh matey’s, I think it’s best we hit our beds early tonight,” the captain told his men. “You’ve all worked hard today and I’ll imagine we’ll have to clean the deck all over again tomorrow.”</p>

<p>“Thanks captain. Do you suppose we might go fishing for an octopus tomorrow? You know, like pirates like to do?”</p>

“Argh, I don’t believe you fish for an octopus, you octopus for an octopus. But yes men, if you get to bed early, we will octopus for octopus tomorrow!”</p>

<p>
  And the men shuffled off to their bunks, plugging their ears with cotton so they’d not be awoken by the other snoring pirates.
</p>

<p>
  Did the pirate captain, once he was snuggly in bed, pull a kid from under the sheets to eat as a bedtime snack?
</p>

<p>No. “Argh. Goodnight parrot, may we have another beautiful day on the seas tomorrow.”</p>
{% endblock %}

{% block page_title %}Oct. 19, 2018{% endblock %}