{% extends '_layouts/detail.njk' %}



{% block story %}
  <h2>It was a dark and stormy night</h2>
  <p>Redbeard was the fiercest, most terrifying pirate on the seven seas. They said his attacks and boardings throughout the World had amassed him a fabulous amount of treasure, the greatest ever known. Like any good pirate, Redbeard trusted no one, and always kept his treasure right under his feet, in the enormous hold of his ship.</p>
  
  <p>One day, he heard talk of a magnificent treasure that was to cross the sea in one of the World’s most powerful ships. It was a tremendously big galleon, and it was very well armed, but no one enjoyed stealing treasure from big ships and then sinking them more than Redbeard, even though he was already so rich that he would have needed many lifetimes simply to spend the gold and jewels he had amassed.</p>
  
  <p>So, the pirate carefully prepared an attack on the open sea. As ever, the boarding was a success, and they were soon busy moving the fabulous treasure from the galleon over to Redbeard's ship. Without doubt, this was a formidable haul of treasure, almost as big as what Redbeard already had. He rubbed his hands, thinking about continuing to multiply his riches.</p>
  
  <p>When they had loaded all the treasure, they sank the galleon, and the pirates prepared a great feast to celebrate the deed. As drunk as they became, they didn’t realise that their own ship was gradually sinking, since the treasure haul had been so big and heavy that the boat could not stay afloat.</p>
  
  <p>By the time they realised, there was nothing that could be done. The ship went to the bottom of the sea with all its wicked pirates, led by Redbeard himself. And there they remain to this day, with the treasure trove that had become so huge… but that never quite managed to equal Redbeard's greed and stupidity.</p>
{% endblock %}

{% block page_title %}Oct. 18, 2018{% endblock %}