{% extends '_layouts/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col offset-sm-2">
    <h1>The pirate life isn't for everyone</h1>
    <p class="author">By {% for author in authors %}
      <a href="{{ author.link }}" target="_blank">{{ author.name }}</a>{% if not loop.last %}{% if loop.revindex0 == 1 %} and {% else %}, {% endif %}{% endif %} {% endfor %}
      <br> Published {{ publish_date }}
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      <p>
        But I was born for it. If you think you have what it takes to be a pirate, I suggest you first look through what I've been through. My private life has taken a beating, much like the sea monsters I'm committed to fighting, so I know firsthand what kind of difficulties you will face in your newly pirated lifestyle. Join me in my plight—and in my victories.  
      </p>
      {% for entry in data.entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p class="entry-date">{{ entry.date }}</p>
        <hr>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}

